<form class="add-link-form" method="POST" action="/u/<%= username %>/links" enctype="multipart/form-data">
    <div>
        <label for="link">
            <b>URL</b>
            <input type="url" name="link" required />
        </label>
        <input type="submit" value="Add link" />
    </div>
</form>