<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <% if (typeof title !== 'undefined') { %>
      <title><%= title %></title>
    <% } %>
    <link rel="stylesheet" href='/stylesheets/reset.css' />
    <link rel="stylesheet" href='/stylesheets/style.css' />
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <script src="/behavior.js"></script>
  </head>
  <body>
  <% if (typeof hideNavbar == 'undefined') { %>
    <%- include('navbar'); -%>
  <% } %>
