<%- include('header'); -%>
<div class="general-container">
  <h1>LinkClone</h1>
  <p>
  Welcome to LinkClone!
  There are currently <%= nusers %> registered on the site.
  <a href="/u">Check out who they are</a>
  or <a href="/edit/new">make your own profile</a>!
  </p>
</div>
<%- include('footer'); -%>
