<div class="pfp-form">
    <div class="vertical">
        <img class="reference-img-invisible" src="/u/<%= username %>/<%= _current_link %>/pfp"/>
        <div class="upload-round-cropper">
            <canvas class="canvas"></canvas>
        </div>
        <label class="change-pfp-label">
            <input type="file" id="fileInput" name="siteicon" accept="image/*" onchange="someJavascript(this)" hidden/>
            <a class="button change-link-label">Submit file</a>
        </label>
    </div>
</div>