<%- include('header'); -%>
<div class="general-container">
  <h1>Sign up</h1>
<form method="POST" action="/u/">
  <label for="username">Name:
    <input type="text" name="username" required />
  </label>
  <label for="username">Password:
    <input type="password" name="password" required />
  </label>
  <input type="submit" value="Send <3" />
</form>
</div>
<%- include('footer'); -%>
